body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#game {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/*
Fuentes que se usan en Phaser
*/
@font-face {
    font-family: "barlow-regular";
    src: url("assets/fonts/Barlow-Regular.ttf");
}
@font-face {
    font-family: "leagueSpartan-variable";
    src: url("assets/fonts/LeagueSpartan-VariableFont_wght.ttf");
}